<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="flexbox.css">
</head>

<body>
    <header>
        <h1>Welcome!</h1>
    </header>
    <section>
        <nav>
            <ul>
                <li> <a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
            </ul>
        </nav>
        <article>
            <h2>Article</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem dolore velit reiciendis delectus
                deserunt in beatae error. Officiis molestias in officia, veniam laboriosam suscipit ipsam magnam sunt
                sed
                cupiditate eveniet rem a enim quos nostrum voluptas perspiciatis fugit ratione, quia labore.
                Reprehenderit
                praesentium sapiente in nisi aliquam mollitia? Nobis quae quia quas! Sunt sit illo minima ullam?
                Praesentium
                perferendis doloremque, reiciendis pariatur repellendus quisquam quia iste dolores nihil nisi eligendi
                modi
                accusamus voluptates possimus! Accusamus nemo minima distinctio officiis eum hic molestiae. Cupiditate
                harum
                delectus vero pariatur, excepturi ut officiis dolores itaque. Natus non, tempora voluptates soluta ad
                porro
                eveniet?</p>
        </article>
    </section>
    <footer>
        <p>&copy;2023 All rights reserved.</p>
    </footer>
</body>

</html>